<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<nav class="navbar navbar-toggleable navbar-light bg-faded">
		<div class="container">
		  <div class="collapse navbar-collapse">
		    <a class="navbar-brand" href="#">Pineapple SQL</a>
		    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
		      <li class="nav-item">
		        <a class="nav-link" href="#">Courses</a>
		      </li>
		    </ul>
		    {% block form %}{% endblock %}
		  </div>
		</div>
	</nav>
	<div class="container" id="main">
		{% block content %}{% endblock %}
	</div>
	<footer class="fixed-bottom">
		<div class="container">
			<span class="text-muted">
				by Pineapple team: Artemy Magarin, <a href="https://t.me/O_Giroud">Petr Revyakin</a>, <a href="https://www.linkedin.com/in/valeria-stromtsova-67016512b/">Valeria Stromtsova</a>, Egor Skrutelev
			</span>
		</div>
	</footer>
</body>
</html>