
{% extends "base.html" %}
{% load static %}

{% block title %} 
       Просмотр задания
{% endblock %} 

{% block extra_links %}
{% endblock %}

{% block form %} 
    <a class="nav-link" href="{% url 'accounts:profile' %}">{{user.get_short_name}}</a>
    <a class="nav-link" href="{% url 'accounts:edit' %}">Настройки</a>  
    <a class="nav-link" href="{% url 'accounts:logout' %}">Выход</a>
    <style type="text/css">
    	#main {
    		padding-top: 0;
    	}
    </style>
{% endblock %}

{% block content %}
</div>
<div class="container-fluid" style="padding-top: 30px;">
	<div class="row">
		<div class="col-3">
			<h5>Задания</h5>
			<h6 class="text-muted">Пройдено {{doneTasksLen|length}} из {{tasks|length}}</h6>
			<div class="card">
				{% for t in tasks %}
				<div class="list-group list-group-flush" style="">
				{% if t.is_passed %}
				  <a href="{% url 'tasks:view_task' pk=t.id course_id=t.course.id %}" class="list-group-item list-group-item-action list-group-item-success">{{forloop.counter}}. {{t.name}}</a>
				{% else %}
				  <a href="{% url 'tasks:view_task' pk=t.id course_id=t.course.id %}" class="list-group-item list-group-item-action">{{forloop.counter}}. {{t.name}}</a>
				{% endif %}
				</div>
				{% empty %}
				<h6>Нет заданий</h6>
				{% endfor %}
			</div>

		</div>
		<div class="col-9">
			<h3>"{{task.name}}"</h3>
			<br>
			<div class="card card-outline">
			  <div class="card-block">
					<h5 class="card-title">База данных</h5>
					<p class="card-text">{{task.task_db.description}}</p>	
				</div>
				</div>
				<br>
				<div class="card card-outline ">
					<div class="card-block">	
					<h5 class="card-title">Задание</h5>
					<p class="card-text">{{task.question}}</p>
					</div>
				</div>
				<br>
				<div class="card card-outline ">
					<div class="card-block">	
					<h5 class="card-title">Запрос</h5>
					<p class="card-text">
					<form>					 					 
					  <div class="form-group">					    
					    <textarea class="form-control" id="sqlquery" rows="10"></textarea>
					  </div>
					  <input type="reset" class="btn btn-warning" value="Очистить">
					  <button type="submit" class="btn btn-primary">Выполнить</button>
					</form>
					</p>
				</div>
				</div>
				<br>
		</div>
	</div>

		
</div>
{% endblock %}