{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
  {% if validlink %}
    <h3>Смена пароля</h3>
    <br>
    <form method="post" accept-charset="utf-8">
        {% csrf_token %}

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{ form.new_password1.label }}</label>
            <div class="col-sm-10">
              {{ form.new_password1 | add_class:"form-control" }}
            </div>  
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{ form.new_password2.label }}</label>
            <div class="col-sm-10">
              {{ form.new_password2 | add_class:"form-control" }}
            </div>  
        </div>

        <button type="submit" class="btn btn-block btn-primary">Отправить</button>
    </form>
  {% else %}
    <p>
      К сожалению, ссылка не работает. Возможно она уже была использована.
      Попробуйте запросить новую ссылку <a href="{% url 'accounts:password_reset' %}"><тут</a>
    </p>
  {% endif %}
{% endblock %}